@media all and ( max-width: 2652px) {

    .clm-5{
        width: 3% !important;
        float: left;

    }
    .clm-90{
        width: 94% !important;
        float: left;
    }



}

@media all and ( max-width: 2000px) {

    .clm-5{
        width: 4% !important;
        float: left;

    }
    .clm-90{
        width: 92% !important;
        float: left;
    }



}

@media all and ( max-width: 1600px) {

    .clm-5{
        width: 5% !important;
        float: left;

    }
    .clm-90{
        width: 90% !important;
        float: left;
    }
}

@media all and ( max-width: 1200px) {

    .clm-5{
        width: 6% !important;
        float: left;

    }
    .clm-90{
        width: 88% !important;
        float: left;
    }



}

@media all and ( max-width: 900px) {

    .clm-5{
        width: 8% !important;
        float: left;

    }
    .clm-90{
        width: 84% !important;
        float: left;
    }

}

@media all and ( max-width: 1050px ){

    .clm-20{
        width: 50%;
        float: left;
    }

    .clm-60{
        width: 50%;
        float: left;
    }
    .clear-completed {
        float: left;
    }

    .p-20{
        padding-bottom: 70px;
    }


}


@media all and ( max-width: 700px) {

    .mid {
        width: 60%;
        margin: auto;
    }

}
@media all and ( max-width: 600px) {

    .mid {
        width: 70%;
        margin: auto;
    }

}

@media all and ( max-width: 1050px ){

    .clm-20{
        width: 100%;
        float: left;
    }

    .clm-60{
        width: 100%;
        float: left;
    }
    .clear-completed {
        float: left;
        margin-right: 10px;
    }

}



@media all and ( max-width: 400px) {

    .mid {
        width: 80%;
        margin: auto;
    }

}

@media all and ( max-width: 300px) {

    .mid {
        width: 93%;
        margin: auto;
    }


}







