
div, p, h1, h2, h3, h4, h5, h6, body, a {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.b-1 {
    border: 1px solid black;
}

.b-none {
    border: none;
}

.t-a-c {
    text-align: center;
}

.mt-20 {
    margin-top: 20px;
}

.fr {
    float: right;
}

.mid {
    width: 50%;
    margin: auto;
}

.row {
    width: 100%;
}

.row:before {
    content: '';
    display: inline-block;
    overflow: hidden;
}

.clm-5{
    width: 5% !important;
    float: left;
}
.clm-90{
    width: 90% !important;
    float: left;
}


.title h1 {
    font-size: 80px;
}

.input-area input {
    width: 70%;
    padding: 15px 0px 15px 55px;
    font-size: 30px;
    color: rgba(0, 0, 0, .5);

}

.input-area input:focus {
    outline: none;
    color: rgba(0, 0, 0, .5);
}

.input-area input::placeholder {
    color: rgba(0, 0, 0, .5);
}

.box-shadow {
    box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.10);
    -webkit-box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.10);
}

.list-area {
    width: 100%;
    font-size: 25px;
    color: rgba(0, 0, 0, .5);
    z-index: 999;
}

.list-area .items > ul > li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
    padding: 15px 0px;
}

.list-area .items > ul > li input[type=checkbox] {

    height: 18px;
    width: 18px;
    text-align: center;
    margin-left: 6px;

}

.edit_item {
    margin-left: 15px;
}

.edit_item input[type=text] {
    width: 104%;
    padding: 8px 0px 8px 10px;
    font-size: 20px;
    color: rgba(0, 0, 0, .5);
    margin-left: 9px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    margin-top: -6px;
}

.edit_item input[type=text]:focus {
    outline: none;

}



.list-area-footer ul {

}

.list-area-footer > ul > li {
    display: inline-block;
    margin-left: 8px;

}

.list-area-footer > ul > li > a {
    font-size: 16px;
    padding: 4px;
}
.total-item p, .clear-completed a{
    font-size: 19px;
    padding: 4px;
}
.total-item p{
    margin-left: 10px;
}


.clear-completed {
    float: right;
    margin-right: 10px;
}

.active {
    border: 1px solid rgba(0, 0, 0, 0.10);
}

.cross svg{
    text-align: center !important;
    color: rgba(231, 76, 60,.5);
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: none;
    transition: .10s;
}
.items > ul > li:hover .cross svg{
    display: block;
}

.clm-20{
    width: 25%;
    float: left;
}

.clm-60{
    width: 50%;
    float: left;
}

.p-20{
    padding: 20px 0px;
}
.d-none{
    display: none;
}




